@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background: #131313;
  border-radius: 2px;
}

@font-face {
  font-family: "Rabenk";
  src: url("/fonts/Rabenk-WyBOO.ttf");
}

@font-face {
  font-family: "Squares Bold";
  src: url("/fonts/Squares Bold Free.otf");
}

@font-face {
  font-family: "Minisystem";
  src: url("/fonts/Minisystem.otf");
}

@font-face {
  font-family: "Rajdhani Light";
  src: url("/fonts/rajdhani.light.ttf");
}

@font-face {
  font-family: "Rajdhani Medium";
  src: url("/fonts/rajdhani.medium.ttf");
}

body {
  color: rgb(var(--foreground-rgb));
  background: #000;
}

/* rgb(13, 2, 23) */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.clipCustom {
  clip-path: polygon(0% 10%, 0% 100%, 100% 100%, 100% 0%, 60% 0%, 60% 10%);
}
.parent {
  filter: url("#flt_tag");
}

.flt_svg {
  visibility: hidden;
  position: absolute;
  width: 0px;
  height: 0px;
}

.customBg::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  mix-blend-mode: multiply;
  /* background: linear-gradient(150deg, #de0bad, #e0ce80 90%); */
}

.mainFont {
  font-family: "Montserrat", sans-serif;
}

#container3D {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}

.customTransitionShow {
  transition: all 0.75s ease-in-out;
}

.customTransitionShow2 {
  transition: all 0.75s ease-in-out 0.3s;
}

.mainFont2 {
  font-family: "Squares Bold";
}

.mainFont3 {
  font-family: "Zen Dots", cursive;
  font-weight: 300;
}

#header {
  --opacityBefore: 1;
}

/* #header::before {
  content: '';
  opacity: var(--opacityBefore);
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient( to right, rgba(189, 186, 216, 0.18) 1px, transparent 1px );
  background-size: 14rem 14rem;
  background-position: center center;
  pointer-events: none;
  z-index: 0;
} */

#header::after {
  content: "";
  opacity: 0;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* background: #0000004b; */
  pointer-events: none;
  transition: all 1.2s ease 0s;
}

#header.show::after {
  opacity: 1;
}

.fontMain4 {
  font-family: "Minisystem";
}

.fontMain5 {
  font-family: "Rajdhani Light";
}

.fontMain6 {
  font-family: "Rajdhani Medium";
}

nav.showNav1 {
  bottom: 2rem;
}

/* .clipPathNav {
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%, 60% 0, 55% 16%, 45% 16%, 40% 0);
}

.clipPathNav::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  z-index: -1;
  border: 1px solid #ffffff12;
} */

.customBgProjects {
  background: linear-gradient(180deg, #00000000 50%, #8599ff 50%);
}

audio {
  display: none;
}

.customShadow {
  /* filter: drop-shadow(-40px 20px 40px #000000a3); */
}

.animateBreath {
  animation: breath 5s ease 0.05s infinite;
}

@keyframes breath {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  padding: 4.5rem 1.25rem;
  padding-bottom: 5rem;
  background: #121212;
  z-index: 2;
  display: flex;
  align-items: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.menu-copy {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu-link-item {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.type-tiny,
.cdawrap {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 400;
  font-variation-settings: "wght" 400;
}

.content--full {
  display: grid;
  /* height: 100vh; */
  place-items: center;
  grid-template-areas: "main";
  grid-template-rows: 100%;
  grid-template-columns: 100%;
}

.grid__img {
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  will-change: transform;
  transform: translateZ(0.1px);
}

.grid--columns .grid__img {
  height: min-content;
  aspect-ratio: 2 / 3;
}

@media (min-width: 768px) {
  #projects .grid--columns {
    grid-template-areas: "text-left image text-right" !important;
  }
}

.grid--custom {
  display: grid;
  grid-template-areas:
    "text-left"
    "image"
    "text-right";
}

@media (min-width: 768px) {
  .grid--custom {
    grid-template-areas: "text-left image text-right";
    grid-template-columns: repeat(3, 1fr);
  }
}

.customBtnClip {
  clip-path: polygon(
    0% 0%,
    0% 100%,
    100% 100%,
    100% 0%,
    60% 0,
    55% 16%,
    45% 16%,
    40% 0
  );
}

.customClipNav {
  clip-path: polygon(0 100%, 0 5%, 10% 0, 100% 0, 100% 95%, 90% 100%);
}

.customClipWrapper {
  clip-path: polygon(0.1% 100%, 0.4% 20%, 5% 0, 99.4% 0, 99.5% 80%, 95% 100%);
}